name: CI - SauceDemo BDD Automation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build SauceDemo.BddFramework.csproj --configuration Release --no-restore

      - name: Run BDD Tests (UI + API)
        run: dotnet test SauceDemo.BddFramework.csproj --configuration Release --logger "trx;LogFileName=TestResults.trx"

      # Gera relatório HTML do SpecFlow (LivingDoc)
      - name: Install LivingDoc CLI
        run: dotnet tool install --global SpecFlow.Plus.LivingDoc.CLI

      - name: Generate LivingDoc HTML report
        if: always()
        shell: pwsh
        run: |
          $dll = Resolve-Path ".\bin\Release\net8.0\SauceDemo.BddFramework.dll"
          $json = Get-ChildItem -Recurse ".\TestResults" -Filter *.json | Select-Object -First 1

          if (-not $json) {
            Write-Error "SpecFlow JSON test execution file not found in TestResults."
          } else {
            Write-Host "Using test assembly: $dll"
            Write-Host "Using SpecFlow JSON: $($json.FullName)"

            livingdoc test-assembly $dll `
              -t $json.FullName `
              -o ".\LivingDoc"
          }

      - name: Publish Test Results (TRX)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-trx
          path: '**/*.trx'

      - name: Publish LivingDoc HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: livingdoc-report
          path: LivingDoc
