name: CI - SauceDemo BDD Automation

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  tests:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build SauceDemo.BddFramework.csproj --configuration Release --no-restore

      - name: Run BDD Tests (UI + API)
        run: dotnet test SauceDemo.BddFramework.csproj --configuration Release --logger "trx;LogFileName=TestResults_ci.trx"

      - name: Install LivingDoc CLI
        run: dotnet tool install --global SpecFlow.Plus.LivingDoc.CLI

      - name: Add .NET Tools to PATH
        shell: pwsh
        run: echo "$env:USERPROFILE\.dotnet\tools" >> $env:GITHUB_PATH

      - name: Generate LivingDoc HTML report
        if: always()
        shell: pwsh
        run: |
          $dll = Resolve-Path "./bin/Release/net8.0/SauceDemo.BddFramework.dll"

          $json = Get-ChildItem -Recurse "./TestResults" -Filter *.json | Select-Object -First 1

          if (-not $json) {
            Write-Host "SpecFlow JSON test execution file not found in ./TestResults. Skipping LivingDoc generation."
            exit 0
          }
          else {
            Write-Host "Using test assembly: $dll"
            Write-Host "Using SpecFlow JSON: $($json.FullName)"

            Remove-Item -Recurse -Force -ErrorAction SilentlyContinue "./LivingDoc" || $null
            livingdoc test-assembly $dll `
              -t $json.FullName `
              -o "./LivingDoc"
          }

      - name: Check LivingDoc exists
        id: check_livingdoc
        if: always()
        shell: pwsh
        run: |
          if (Test-Path ./LivingDoc) {
            echo "exists=true" >> $env:GITHUB_OUTPUT
          } else {
            echo "exists=false" >> $env:GITHUB_OUTPUT
          }

      - name: Upload Test Results (TRX)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-trx
          path: '**/*.trx'

      - name: Publish LivingDoc HTML report (artifact)
        if: steps.check_livingdoc.outputs.exists == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: livingdoc-report
          path: LivingDoc

      - name: Upload Pages Artifact (for GitHub Pages)
        if: steps.check_livingdoc.outputs.exists == 'true'
        uses: actions/upload-pages-artifact@v4
        with:
          path: LivingDoc

      - name: Deploy to GitHub Pages
        if: steps.check_livingdoc.outputs.exists == 'true'
        uses: actions/deploy-pages@v4
        with:
          name: livingdoc-report
          path: LivingDoc
